.distill-site-nav {
  color: #00E617;
  background-color: #00E617;
  font-size: 15px;
  font-weight: 400;
}

.distill-site-nav a {
  color: black;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: black;
    background-color: #4EFF60;

}

.distill-site-header {
  color: #4EFF60;
  background-color: #00E617;
}

.distill-site-footer {
  color: #4EFF60;
}

@media print {
  .distill-site-nav {
    display: none;
  }
}
